/* BODY */
body {
  font-family: 'Montserrat', Arial, sans-serif;
  color: #0d1f2b;
}

/* Positionerar sidans innehåll för att footern ska stanna längst ner */
.page-container {
  position: relative;
  min-height: 100vh;
}

/* Lägger till padding för att sidans innehåll inte ska hamna bakom footern */
.content-wrap {
  padding-bottom: 50px;
}

@media (min-width: 600px) {
  .content-wrap {
    padding-bottom: 120px;
  }
}


/* SIDHUVUD */
.banner-logo {
  position: relative;
  background-color: #0d1f2b;
}

.banner-logo img {
  width: 100%;
  height: 100%;
}

/* Logotypen på bannern */
.logotype {
  position: absolute;
  top: 32%;
  right: 25%;
  font-family: 'Shadows Into Light', Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 0.05em;
}

@media (min-width: 375px) {
  .logotype {
    top: 34%;
  }
}

@media (min-width: 400px) {
  .logotype {
    top: 36%;
    font-size: 20px;
  }
}

@media (min-width: 600px) {
  .logotype {
    top: 40%;
    font-size: 26px;
  }
}

@media (min-width: 800px) {
  .logotype {
    font-size: 34px;
  }
}

@media (min-width: 1000px) {
  .logotype {
    font-size: 44px;
  }
}

@media (min-width: 1200px) {
  .logotype {
    font-size: 52px;
  }
}

@media (min-width: 1400px) {
  .logotype {
    font-size: 60px;
  }
}

@media (min-width: 1600px) {
  .logotype {
    top: 42%;
  }
}

@media (min-width: 1800px) {
  .logotype {
    top: 45%;
  }
}

.logotype a {
  color: white;
  text-decoration: none;
  text-shadow: 0px 0px 8px #0d1f2b;
}

/* Navigering */
header nav {
  background-color: #0d1f2b;
  height: 40px;
}

@media (min-width: 600px) {
  header nav {
    height: 50px;
  }
}

header ul {
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  max-width: 1000px;
  margin: auto;
  padding: 0;
}

header li {
  margin-top: 8px;
}

@media (min-width: 600px) {
  header li {
    margin-top: 14px;
  }
}

header li a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 15px;
  letter-spacing: 0.1em;
  padding: 5px 15px;
  border-top: 1px solid #17364a;
  border-bottom: 1px solid #17364a;
  transition: 0.3s;
}

@media (min-width: 600px) {
  header li a {
    font-size: 16px;
    line-height: 20px;
  }
}

header li a:hover {
  border-top: 1px solid #6591ac;
  border-bottom: 1px solid #6591ac;
}


/* HUVUDINNEHÅLL */
main {
  padding: 0 15px;
}

/* Rubriker */
h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 25px;
}

@media (min-width: 600px) {
  h1 {
    text-align: center;
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 25px;
    margin-top: 50px;
  }
}

h2 {
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: 600px) {
  h2 {
    font-size: 30px;
  }
}

/* Text */
main p {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 15px;
}

@media (min-width: 600px) {
  main p {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    max-width: 920px;
    margin: auto;
    margin-bottom: 25px;
  }
}

/* Länkar */
main a {
  color: #497697;
  font-weight: 400;
  transition: 0.3s;
}

main a:hover {
  color: #0d1f2b;
}

/* Övningar */
.exercise {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  
}

.exercise p {
  margin-top: 0;
  margin-bottom: 5px;
}

@media (min-width: 600px) {
  .exercise {
    padding-bottom: 30px;
    margin: auto;
  }

  .exercise p {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .exercise {
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .flex-container {
    max-width: 1050px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.video-container {
  width: 100%;
  max-width: 450px;
}

/* För att skapa aspect-ratio 1:1 */
.video-wrap {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.video-wrap video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* Kontakt */
.contact-info {
  display: flex;
  flex-direction: column;
}

.fa-solid {
  padding-left: 10px;
  padding-right: 10px;
  color: #0d1f2b;
}

@media (min-width: 600px) {
  .contact-info {
    align-items: center;
  }

  .fa-solid {
    padding-left: 0;
  }
}

.phone {
  margin: 0;
  text-align: left;
}

.mail {
  margin-top: 3px;
  margin-bottom: 20px;
  text-align: left;
}

.contact img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  .contact img {
    margin-bottom: 30px;
  }
}

@media (min-width: 800px) {
  .contact-info {
    max-width: 580px;
    margin: auto;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 0;
    padding: 30px 70px;
  }

  .phone {
    margin-bottom: 20px;
  }

  .mail {
    margin-bottom: 0;
  }

  .contact img {
    width: 200px;
    margin-bottom: 0;
  }
}


/* SIDFOT */
footer {
  width: 100%;
  height: fit-content;
  background-color: #0d1f2b;
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

@media (min-width: 600px) {
  footer {
    font-size: 16px;
  }
}